<div class="modal-header">
  <h4 class="modal-title">Your money:</h4>
  <button type="button" class="close" aria-label="Close" (click)="onClose()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="card-columns">
    <div class="card" style="width: 9rem;" *ngIf="withdraw.money['notes-100'] > 0">
      <img class="card-img-top" src="../../assets/100_euro.jpg" alt="Card image cap">
      <div class="card-body">
        <p class="card-text text-center"> {{withdraw?.money['notes-100']}} X</p>
      </div>
    </div>

    <div class="card" style="width: 9rem;" *ngIf="withdraw.money['notes-50'] > 0">
      <img class="card-img-top" src="../../assets/50_euro.jpg" alt="Card image cap">
      <div class="card-body">
        <p class="card-text text-center"> {{withdraw?.money['notes-50']}} X</p>
      </div>
    </div>

    <div class="card" style="width: 9rem;" *ngIf="withdraw.money['notes-20'] > 0">
      <img class="card-img-top" src="../../assets/20_euro.jpg" alt="Card image cap">
      <div class="card-body">
        <p class="card-text text-center">{{withdraw?.money['notes-20']}} X</p>
      </div>
    </div>

    <div class="card" style="width: 9rem;" *ngIf="withdraw.money['notes-10'] > 0">
      <img class="card-img-top" src="../../assets/10_euro.jpg" alt="Card image cap">
      <div class="card-body">
        <p class="card-text text-center"> {{withdraw?.money['notes-10']}} X</p>
      </div>
    </div>
  </div>

</div>
<div class="modal-footer">
  <button type="button" class="btn btn-dark" (click)="onClose()">Close</button>
</div>